@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@600;700&family=Gorditas:wght@400;700&display=swap');

/* Box Model Hack */
* {
    box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
   clear: both;
}

/* Layout */
html { 
    background: url(C:/Users/jvict/projects/animal-crossing/images/acnh-background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

/* body {
    background-image: url(images/acnh-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */

#acnh-logo {
    float: right;
    height: 60px;
    width: auto;
}

h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Gorditas', cursive;
    color: #fffffa;
    font-size: 3.1rem;
    text-shadow: 2px 2px rgba(196,141,63, 0.5);
}

h2:hover {
    cursor: pointer;
    background-color: rgba(2,55,17,0.7);
}

h2 {
    font-size: 25px; 
    color: #fff563;
    background-color: rgba(2,55,17,0.3);
    border: 0.5px solid rgba(2,55,17,0.1);
    padding: 4px 8px;
    text-shadow: 1.5px 1.5px rgba(196,141,63, 0.5);
    border-radius: 10px;
    margin: 7px 5px;
}

.villagerNames {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    font-family: 'Enriqueta', serif;
    margin-bottom: 20px;
}

section.villagerImages {
    display: flex;
    align-self: flex-end;
}

.villagerImages {
    display: flex;
    justify-content: center;
    height: 20rem;
    width: auto;
}

#audioContainer {
    display: flex;
    justify-content: right;
    align-content: flex-end;
    opacity: 40%;
    margin: 5px 5px;
}

#audioContainer audio {
    width: 250px;
}

/* Styling */


.hidden {
    display: none;
}

